<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Página de inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button href="/calendar/" size="big" expand="full">
    Calendario
  </ion-button>

  <ion-button href="/guest-form/" size="big" expand="full">
    Formulario de invitados
  </ion-button>


  <ion-button href="/houses/" size="big" expand="full"> 
    Casas 
  </ion-button>
  
  <ion-button href="/login/" size="big" expand="full"> 
    Login 
  </ion-button>

</ion-content>
